.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/background3-1500w.jpg");
  background-position: center;
}
 
.home-image {
  width: 432px;
  height: 300px;
  object-fit: cover;
}
 
.home-text1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}
 
.home-form {
  gap: 8px;
  width: 408px;
  height: 172px;
  display: flex;
  flex-direction: column;
}
 
.home-textinput1 {
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
 
.home-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.home-text2 {
  color: #ffffff;
}
 
.home-textinput2 {
  width: 100%;
}
 
.home-container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.home-text3 {
  color: #ffffff;
}
 
.home-textinput3 {
  width: 100%;
}
 
.home-button1 {
  width: 100%;
}
 
.home-link {
  display: contents;
}
 
.home-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text4 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
